.border {
    border: 2px solid #26a69a;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.borderCountry {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    flex-wrap: wrap;
    min-width: 12rem;
    min-height: 12rem;
    max-width: 12rem;
    max-height: 12rem;
    background-color: #26a69a;
}

.borderCountry:hover{
    background-color: #26a69a52;
}

.ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flag {
    width: 5rem;
    height: 4rem;
    border-radius: 8px;
    border: 1px solid #26a69a; 
}
.li{
    display: flex;
    justify-content: center;
}

.name {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;

}

@media screen and (max-width: 992px) {
    .ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
}